@using Microsoft.AspNetCore.Components.Web

<div class="punkte-eingabe">

    <table class="punkte-table">
        <colgroup>
            <col style="width:40%">
            <col style="width:auto">  <!-- Mittlere Spalte nimmt Rest -->
            <col style="width:40%">
        </colgroup>


        <tr>
            <td colspan="3" class="hilfe-cell">
                <small class="hilfe-text">
                    Zahl eingeben und / oder * drücken
                </small>
            </td>
        </tr>
        <tr>
            <td class="punkte-links">@LeftPoints</td>

            <td class="punkte-mitte">
                <input id="punkteInput"
                       @ref="inputRef"
                       class="punkte-input"
                       @bind="InputValue"
                       @onkeydown="HandleKeyDown"
                       @onkeydown:preventDefault="!IstErlaubteTaste" />
            </td>

            <td class="punkte-rechts">@RightPoints</td>
        </tr>
    </table>

</div>

@code {
    [Parameter] public string LeftPoints { get; set; }
    [Parameter] public string RightPoints { get; set; }

    [Parameter] public string InputValue { get; set; } = "0";// string.Empty;

    [Parameter] public EventCallback<string> OnWertChanged { get; set; }
    private ElementReference inputRef;
    private bool IstErlaubteTaste = true;

    // Klasse oder Komponente
    private static readonly string[] ErlaubteTasten = new[]
    {
        "0","1","2","3","4","5","6","7","8","9",
        "Numpad0","Numpad1","Numpad2","Numpad3","Numpad4",
        "Numpad5","Numpad6","Numpad7","Numpad8","Numpad9",

        "Add", "Subtract", "Decimal",
        "+", "-", ".", ",",

        "Backspace","Delete","Tab",
        "ArrowLeft","ArrowRight","ArrowUp","ArrowDown",
        "Home","End"
    };


    public async Task SetFocusAsync()
    {
        await inputRef.FocusAsync();
    }

    async Task OnInputChanged(ChangeEventArgs e)
    {
        InputValue = e.Value?.ToString() ?? "0";
        await OnWertChanged.InvokeAsync(InputValue);
    }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }

    private async Task HandleKeyDownX(KeyboardEventArgs e)
    {
        await OnKeyDown.InvokeAsync(e);
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (System.Diagnostics.Debugger.IsAttached) { Console.WriteLine($"Key pressed: {e.Key}"); }
        // Prüfen, ob die Taste erlaubt ist
        IstErlaubteTaste = ErlaubteTasten.Contains(e.Key);

        if (IstErlaubteTaste) { await OnKeyDown.InvokeAsync(e); }
        else
        {
            // Ungültige Taste → Wert zurücksetzen
            InputValue = "0";// string.Empty;
            // Blazor informieren, dass sich der State geändert hat
            StateHasChanged();

        }
    }


}
