
<div class="punkte-anzeige">
    <span class="leftpoint-sum">@LeftPointsSum</span>
    <span class="trenner">:</span>
    <span class="rightpoint-sum">@RightPointsSum</span>
</div>

@code {
    [Parameter]
    public int LeftPointsSum { get; set; }

    [Parameter]
    public int RightPointsSum { get; set; }
}