<div class="punkte-eingabe">

    <table class="punkte-table">
        <colgroup>
            <col style="width:40%">
            <col style="width:auto">  <!-- Mittlere Spalte nimmt Rest -->
            <col style="width:40%">
        </colgroup>


        <tr>
            <td colspan="3" class="hilfe-cell">
                <small class="hilfe-text">
                    @HilfeText
                </small>
            </td>
        </tr>
        <tr>
            <td class="punkte-links">@LeftPoints</td>

            <td class="punkte-mitte">@InputValue</td>

            <td class="punkte-rechts">@RightPoints</td>
        </tr>
    </table>

</div>

