################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/StockTV/v16
/src/StockTV/obj
/src/StockTV/StockTV.csproj.user
