################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/StockTV/v16
/src/StockTV/obj
/src/StockTV/bin
/src/StockTV/StockTV.csproj.user
/StockTV/.vs
/.vs
/src/StockTV/AppPackages/StockTV_1.1.13.0_Debug_Test
