@page "/layouttest1"
@rendermode InteractiveServer
<h3>LayoutTest1</h3>
<input @ref="myInput" tabindex="0" />

@code {
    private ElementReference myInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(10);
            await myInput.FocusAsync();
        }
    }
}