html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-text {
    color: var(--fg-color, red); /* fallback */
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    white-space: nowrap; /* verhindert Zeilenumbruch */
    min-width: 0; /* verhindert Flex-Überlauf */
}


:root .left-point-sum {
    color: var(--fg-left);
}

:root .right-point-sum {
    color: var(--fg-right);
}

:root .seperator {
    color: var(--fg-color);
}

:root .left-points {
    color: var(--fg-left);
}

:root .right-points {
    color: var(--fg-right);
}

:root .input-value {
    color: var(--fg-color);
}

