.bestof-mid-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: var(--layout-bestof-left-width, 32%) var(--layout-bestof-left-match-width, 15%) var(--layout-bestof-sep-width, 6%) var(--layout-bestof-right-match-width, 15%) var(--layout-bestof-right-width, 32%);
    align-items: stretch;
}

    .bestof-mid-grid .left-match-points,
    .bestof-mid-grid .right-match-points {
        align-items: flex-end;
        font-weight: 200;
        padding-bottom: 2.5rem;
    }

    .bestof-mid-grid .left-match-points {
        justify-content: flex-end;
        color: var(--fg-left);
    }

    .bestof-mid-grid .right-match-points {
        justify-content: flex-start;
        color: var(--fg-right);
    }
