.bestof-mid-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 32% 15% 6% 15% 32%;
    align-items: stretch;
}

    .bestof-mid-grid .left-match-points,
    .bestof-mid-grid .right-match-points {
        align-items: flex-end;
        font-weight: 200;
        padding-bottom: 2.5rem;
    }

    .bestof-mid-grid .left-match-points {
        justify-content: flex-end;
        color: var(--fg-left);
    }

    .bestof-mid-grid .right-match-points {
        justify-content: flex-start;
        color: var(--fg-right);
    }
