@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>

</p>
<div style="display:flex; justify-content:space-between; font-size:40px;">
    <div style="color:blue">Blau: @Blau</div>
    <div style="color:red">Rot: @Rot</div>
</div>

<input @onkeydown="HandleKey"
       @onkeydown:preventDefault="true"
       autofocus />


@code {
    private int currentCount = 0;
    private int Blau = 0;
    private int Rot = 0;

    private string aktuelleZahl = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void HandleKey(KeyboardEventArgs e)
    {
        // Zahl eingeben
        if (char.IsDigit(e.Key.FirstOrDefault()))
        {
            aktuelleZahl += e.Key;
        }

        // Punkt für Blau
        if (e.Key == "/")
        {
            if (int.TryParse(aktuelleZahl, out int wert))
            {
                Blau += wert;
            }
            aktuelleZahl = "";
        }

        // Punkt für Rot
        if (e.Key == "*")
        {
            if (int.TryParse(aktuelleZahl, out int wert))
            {
                Rot += wert;
            }
            aktuelleZahl = "";
        }
    }
}
