@page "/"
@rendermode InteractiveServer
@* @using BlazorAppTests.Components.Pages *@
@using StockTvBlazor.Components.Pages
@inherits HomeBase

<PageTitle>StockTV</PageTitle>

<div class="hero">
    <h1>StockTV</h1>
    <p>Die Anzeige für den Stocksport</p>
</div>

<div class="grid">
    <DynamicComponent Type="CardComponents[currentCardIndex]" />
</div>


<div class="cta">
    <p>Weiterleitung in <strong>@countdown Sekunden</strong>...</p>
    <div class="progress-bar">
        <div class="progress" style="width:@progress%"></div>
    </div>
</div>