@using Microsoft.AspNetCore.Components.Web

<div class="punkte-eingabe">
    <span class="punkte-links">@Punkte1</span>

    @*     <input type="text"
           class="punkte-input"
           @bind="WertText"
           @bind:event="oninput"
           @onkeydown="OnKeyDown"
           inputmode="decimal" /> *@

    <input @ref="inputRef" class="punkte-input" @onkeydown="HandleKeyDown" />


    <span class="punkte-rechts">@Punkte2</span>
</div>

@code {
    [Parameter] public string Punkte1 { get; set; }
    [Parameter] public string Punkte2 { get; set; }

    [Parameter] public string WertText { get; set; }

    [Parameter] public EventCallback<string> OnWertChanged { get; set; }
    private ElementReference inputRef;

    public async Task SetFocusAsync()
    {
        await inputRef.FocusAsync();
    }

    async Task OnInputChanged(ChangeEventArgs e)
    {
        WertText = e.Value?.ToString() ?? "";
        await OnWertChanged.InvokeAsync(WertText);
    }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        await OnKeyDown.InvokeAsync(e);
    }


    void OnKeyDownSAVE(KeyboardEventArgs e)
    {
        var erlaubteTasten = new[]
        {
            "0","1","2","3","4","5","6","7","8","9",
            "Numpad0","Numpad1","Numpad2","Numpad3","Numpad4",
            "Numpad5","Numpad6","Numpad7","Numpad8","Numpad9",

            "Add", "Subtract", "Decimal",
            "+", "-", ".", ",",

            "Backspace","Delete","Tab",
            "ArrowLeft","ArrowRight","ArrowUp","ArrowDown",
            "Home","End"
        };

        // Hier könntest du später blockieren (JS nötig)
        if (!erlaubteTasten.Contains(e.Key))
        {
            // aktuell nur ignorieren
        }
    }
}
