
<div class="punkte-anzeige">
    <span class="punkte-links left-point-sum">@Punkte1</span>
    <span class="trenner">:</span>
    <span class="punkte-rechts right-point-sum">@Punkte2</span>
</div>

@code {
    [Parameter]
    public int Punkte1 { get; set; }

    [Parameter]
    public int Punkte2 { get; set; }
}