.punkte-anzeige {
    font-size: 30vmin; /* große Zahlen */
    width: 100%;
    height: 100%;
    display: flex;
}

.punkte-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
}

.punkte-rechts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
}
.trenner {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vmin; /* etwas kleiner als die Zahlen */
}
