@using StockTvBlazor.Settings

<div class="tp-grid" style="background:@Colors.BackgroundColor;">

    <div class="tp-header" style="color:@Colors.ForegroundColor;">
        Training
    </div>

    <div class="tp-mid">
        <div class="tp-cell" style="color:@Colors.ForegroundLeft;">47</div>
        <div class="tp-cell" style="color:@Colors.ForegroundColor;">:</div>
        <div class="tp-cell" style="color:@Colors.ForegroundRight;">38</div>
    </div>

    <div class="tp-bottom">
        <div class="tp-cell" style="color:@Colors.ForegroundLeft;">12</div>
        <div class="tp-cell" style="color:@Colors.ForegroundColor;">5</div>
        <div class="tp-cell" style="color:@Colors.ForegroundRight;">8</div>
    </div>

</div>
