
/* Haupt-Layout für Training: 3 Zeilen */
.main-grid.training {
    background-color: var(--bg-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
}



